<div [ngClass]="{'filter blur-sm grayscale pointer-events-none select-none': selectedFormation || selectedExperience}">

  <div class="flex flex-col md:flex-row gap-4 p-4">
    <!-- Formations (gauche) -->
    <div class="flex-1 basis-1/2 p-3">
      <div class="container p-3 text-center">
        <h2 class="text-2xl font-bold text-red-700 dark:text-green-300">Formation</h2>
      </div>
      <div class="container p-4 text-justify space-y-3 font-oxanium">
        <div *ngFor="let group of formationsByDate" class="mb-6">
          <h3 class="text-2xl font-bold text-center text-red-700 dark:text-green-300 mb-2">{{ group.date }}</h3>
          <div class="grid grid-cols-1 gap-2 w-full">
            <div
              class="cursor-pointer card border border-black dark:border-neutral-100 bg-neutral-100 dark:bg-neutral-700 shadow-md overflow-hidden flex flex-col transform transition-transform duration-200 hover:scale-102 darkt:text-gray-400"
              *ngFor="let formation of group.items" (click)="openFormationModal(formation)">
              <div class="p-4 flex-grow">
                <h5 class="text-lg font-bold text-center mb-2">{{ formation.diplome }}</h5>
                <h4 class="text-lg text-center mb-2">{{ formation.mention }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Expériences (droite) -->
    <div class="flex-1 basis-1/2 p-3">
      <div class="container p-3 text-center">
        <h2 class="font-bold text-2xl text-indigo-700 dark:text-yellow-200">Experience</h2>
      </div>
      <div class="container p-4 text-justify space-y-3 font-oxanium">
        <!-- Liste des expériences -->
        <div *ngFor="let group of experiencesByDate" class="mb-6">
          <h3 class="text-2xl font-bold text-center text-indigo-700 dark:text-yellow-200 mb-2">{{ group.date }}</h3>
          <div class="grid grid-cols-1 gap-2 w-full mt-4">
            <div
              class="cursor-pointer border border-black dark:border-neutral-100 bg-neutral-100 dark:bg-neutral-700 opacity-90 hover:opacity-100 shadow-md overflow-hidden flex flex-col transform transition-transform duration-200 hover:scale-102"
              *ngFor="let experience of group.items ; let i = index" (click)="openExperienceModal(experience)">
              <div class="p-4 flex-grow text">
                <!-- Poste -->
                <h4 class="text-lg font-bold font-bold text-center mb-2">{{ experience.poste }}
                </h4>
                <!-- Employeur -->
                <h5 class="text-lg text-center mb-2">{{ experience.employeur }}
                </h5>
                <!-- Dates -->
                <span
                  *ngIf="getExperienceDuration(experience.datedeb, (experience.datefin && experience.datefin !== 'présent') ? experience.datefin : getDateActuelle())"
                  class="block text-center text-sm">
                  {{ getExperienceDuration(experience.datedeb, (experience.datefin && experience.datefin !== 'présent')
                  ?
                  experience.datefin : getDateActuelle()) }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Formation Modal -->
<div *ngIf="selectedFormation" class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto" (click)="closeModal()">
  <div
    class="bg-neutral-100 dark:bg-neutral-700 shadow-lg p-4 w-[90vw] md:w-[70vw] max-w-3xl
           max-h-[90vh] overflow-y-auto relative border border-black dark:border-neutral-100"
    (click)="$event.stopPropagation()">
    <button class="absolute top-2 right-2 text-4xl font-bold" (click)="closeModal()">&times;</button><br>
    <h4 class="text-2xl text-center font-bold mb-2 text-red-400 dark:text-green-300">{{ selectedFormation.diplome }} :
      {{ selectedFormation.mention }}</h4>
    <h4 class="text-xl text-center font-semibold mb-2">{{ selectedFormation.date }} | {{ selectedFormation.organisme }}
    </h4><br>
    <p class="mb-4 text-justify" [innerHTML]="selectedFormation.description"></p>
    <div *ngIf="selectedFormation.link" class="text-center text-blue-500">
      <a [href]="selectedFormation.link.url" target="_blank" rel="noopener noreferrer">{{ selectedFormation.link.text
        }}</a>
    </div>
  </div>
</div>

<!-- Experience Modal -->
<div *ngIf="selectedExperience" class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto" (click)="closeModal()">
  <div
    class="bg-neutral-100 dark:bg-neutral-700 shadow-lg p-4 w-[90vw] md:w-[70vw] max-w-3xl
           max-h-[90vh] overflow-y-auto relative border border-black dark:border-neutral-100"
    (click)="$event.stopPropagation()">
    <button class="absolute top-2 right-2 text-4xl font-bold" (click)="closeModal()">&times;</button><br>
    <h3 class="text-2xl mb-2 text-center font-bold text-indigo-500 dark:text-yellow-200">{{ selectedExperience.poste }}
    </h3>
    <h5 class="text-lg font-semibold mb-2 text-center">{{ selectedExperience.employeur }}</h5>
    <h3 class="text-lg mb-2 text-center">{{ selectedExperience.datedeb.slice(0, 4) }} - {{ selectedExperience.datefin
      === 'présent' ? 'présent' : selectedExperience.datefin.slice(0, 4) }} </h3>
    <p class="mb-4 text-justify">{{ selectedExperience.description }}</p>
  </div>
</div>
