<div class="flex flex-col min-h-screen p-4">
  <!-- Titre -->
  <h2 class="text-2xl font-bold text-center mb-4">Projets</h2>

  <!-- Barre de Recherche -->
  <div class="mb-4">
    <input type="text" id="rechercheprojets"
      class="w-85 mx-auto block border border-gray-400 rounded-lg p-2 focus:outline-none focus:ring-1 focus:ring-blue-400 placeholder-gray-400"
      placeholder="Rechercher par nom, tech, description..." [(ngModel)]="searchTerm" (input)="filterProjects()" />
  </div>

  <!-- Contenu Principal -->
  <div class="flex flex-col items-center flex-grow">
    <!-- Message Aucun Projet Trouvé -->
    <div *ngIf="filteredProjects.length === 0" class="text-center text-red-500 text-lg mt-4">
      Aucun projet trouvé...
    </div>

    <!-- Grille des Projets -->
    <div *ngIf="filteredProjects.length > 0" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full mt-4">
      <div
        class="card bg-gray-50 opacity-80 rounded-lg shadow-md overflow-hidden flex flex-col transform transition-transform duration-200 hover:scale-105 hover:text-blue-600"
        *ngFor="let project of filteredProjects">
        <div class="p-4 flex-grow">
          <!-- Titre du Projet -->
          <h5 class="text-lg font-bold text-center mb-2">{{ project.title }}</h5>
          <!-- Description du Projet -->
          <p class="text-sm text-center mb-4">{{ project.description }}</p>
          <!-- Technologies uttilisées -->
          <div class="flex justify-center flex-wrap gap-2">
            <span *ngFor="let tech of project.techs.slice().sort()"
              class="text-gray-700 text-sm font-semibold bg-orange-200 rounded-full px-2 py-1 m-1">
              {{ tech }}
            </span>
          </div>
        </div>
        <!-- Lien GitHub -->
        <div class="p-4 text-center">
          <a href="{{ project.repolink }}"
            class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg transition duration-200">
            Github
          </a>
        </div>
      </div>
    </div>
  </div>
</div>