<div class="flex flex-col min-h-screen">
  <!-- Navigation -->
  <nav class="sticky top-0 z-50 flex justify-between items-center dark:text-neutral-200 shadow-md p-4 bg-neutral-200 dark:bg-neutral-800">
    <!-- Left Section -->
    <div>
      <a routerLink="home">
        <span class="text-xl hover:text-orange-500 dark:hover:text-yellow-200 transition-all duration-300 ease-in-out" (mouseenter)="hover = true" (mouseleave)="hover = false" [innerHTML]="getAccueilText()" >
        </span>
      </a>
    </div>

    <!-- Right Section -->
    <div class="flex space-x-4 ml-auto">
      <a routerLink="cv">
        <span class="text-xl hover:text-orange-500 dark:hover:text-yellow-200 transition-all duration-300 ease-in-out">cv</span>
      </a>
      <a routerLink="projets">
        <span class="text-xl hover:text-orange-500 dark:hover:text-yellow-200 transition-all duration-300 ease-in-out">projets</span>
      </a>
    </div>
  </nav>

  <!-- Main Content -->
  <main class="flex-grow flex items-center justify-center">
    <router-outlet></router-outlet>
  </main>

  <footer class="relative flex justify-center items-center shadow-md p-1">
    <!-- Contact Icons  -->
    <div class="flex gap-2 p-1">
      <a *ngFor="let icon of contactIcons" [href]="icon.href" [target]="icon.target" [rel]="icon.rel" class="mx-1">
        <i [class]="icon.class + ' ' + icon.color + ' fa-xl opacity-60 hover:opacity-90 transition-opacity duration-200 dark:text-white'"></i>
      </a>
    </div>

    <!-- Dark Mode Toggle -->
    <button
      class="absolute right-4 px-4 py-2 flex items-center gap-2 opacity-60 hover:opacity-80 transition-opacity duration-200 cursor-pointer"
      (click)="toggleDarkMode()">
      <i [class]="isDarkMode ? 'fas fa-sun fa-xl' : 'fas fa-moon fa-xl'"></i>
    </button>
  </footer>
</div>