@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Oxanium', sans-serif;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Cache scrollbar */

body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}