
<!-- Veille technologique -->
  <div class="flex-1 p-4 border-collapse">
    <div class="container p-3 text-center">
      <h2 class="text-3xl font-bold text-blue-600 dark:text-amber-200">Veille technologique</h2>
    </div>
    <div class="container p-4 text-justify space-y-3 font-oxanium text-lg dark:text-neutral-200">
      <p>
        Ma veille technologique et informationnelle s’effectue essentiellement grâce à
        des abonnements (RSS, newsletters), par la consultation
        régulière de sites spécialisés ou de blogs de développeurs, ainsi que par
        l'adhésion à des groupes sur les réseaux sociaux.
        Elle donne la priorité aux thématiques ci-dessous.
      </p>

      <h2 class="text-xl font-bold text-blue-600 dark:text-amber-200">Développement web</h2>

      <p>
        Dans le cadre de mes activités de développement, je mène une veille constante sur l’évolution de l’écosystème React et du langage TypeScript.
        Cette démarche me permet de prendre connaissance des bonnes pratiques émergentes, des évolutions des API React
        et des nouvelles fonctionnalités de TypeScript en matière de typage avancé, sécurité et performance. Cette veille me permet également d’explorer
        les outils associés (Vite, NestJS…) et d’assurer une cohérence technologique sur l’ensemble des projets.
      </p>

      <h2 class="text-xl font-bold text-blue-600 dark:text-amber-200">LLM</h2>

      <p>
        Dans le cadre du développement de solutions numériques pour l’éducation, je mène également une veille sur les modèles de langage étendus (LLM).
        Cette démarche me permet d’identifier les avancées les plus pertinentes en intelligence artificielle pour concevoir des interfaces
        pédagogiques adaptatives, inclusives et sécurisées.
      </p>

    </div>
  </div>

  <!-- Epreuves professionnelles -->
  <div class="flex-1 p-4">
    <div class="container p-3 text-center">
      <h2 class="text-3xl font-semibold text-orange-500 dark:text-green-300">Documentation pour les épreuves professionnelles</h2>
    </div>
    <div class="container p-4 text-center space-y-3 font-oxanium text-lg dark:text-neutral-200">
      A venir...
    </div>
  </div>

