<!-- Accueil : nom prénom -->
<div *ngIf="!showContent" class="flex flex-1 items-center justify-center">
    <div class="text-center dark:text-green-300 select-none text-6xl hover:text-orange-500 dark:hover:text-amber-200 transition-all duration-500 ease-in-out cursor-pointer"
        (mouseenter)="isHovering = true" (mouseleave)="isHovering = false" (click)="showContent = true">
        {{ isHovering ? '&lt;développeur web&gt;' : '&lt;filippos katsanos&gt;' }}
    </div>
</div>

<!-- Présentation -->
<div *ngIf="showContent" class="flex flex-col md:flex-row gap-4 flex-1 items-center justify-center px-4">
    <!-- Présentation -->
    <div class="flex-1 p-4 border-collapse">
        <div class="container p-3 text-center">
            <h2 class="text-3xl font-bold text-blue-600 dark:text-amber-200">Filippos Katsanos</h2>
            <h4 class="text-2xl font-semibold text-orange-500 dark:text-green-300">&#123; développeur web &#125;</h4>
        </div>
        <div class="container p-4 text-justify space-y-3 font-oxanium text-lg dark:text-neutral-200">
            <p *ngFor="let item of aboutItems">{{ item }}</p>
        </div>
      <div class="p-4 text-center">
        <a href="../public/cv.pdf" target="_blank"
           class="bg-blue-600 hover:bg-blue-500 dark:bg-yellow-400 dark:hover:bg-yellow-300 text-white dark:text-neutral-700 font-semibold py-2 px-6 rounded-lg transition duration-200">
          CV
        </a>
      </div>
    </div>

    <!-- Pile technologique -->
    <div class="flex-1 p-4">
        <table class="table-auto p-4 border-collapse">
            <tbody>
                <tr *ngFor="let tech of techs">
                    <td class="p-3 text-lg font-bold">{{ tech.title }}</td>
                    <td class="p-3">
                        <div class="flex flex-wrap gap-2">
                            <span *ngFor="let texttech of tech.texttechs.slice().sort()"
                                class="text-neutral-800 dark:text-neutral-800 text-base font-semibold bg-neutral-100 rounded-full px-2 py-1 m-1 dark:bg-neutral-100 border"
                                style="max-height: 30px;">{{texttech}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
